# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/

# Python tooling
pip-log.txt
pip-delete-this-directory.txt

# IDEs / editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Backend
backend/__pycache__/
backend/*.pyc

# Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env

# Logs
*.log

# Build
dist/
build/

# Firebase
firebase-debug.log

# Misc
*.sqlite3

